.conteiner {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input{
    width: 70px;
    padding: 10px;
    border: 1px solid #a1a1a1;
    border-radius: 5px;
}